{% if options.label is defined %}
  <script>
    function recaptchaBeforeSubmit(token) {
      // submit form now that the recaptcha token has been retrieved
      let b = document.getElementById("{{ id }}-submit");
      let f = b.closest("form");
      if (f.requestSubmit) {
        // form will be submitted only if validation succeeds
        f.requestSubmit(b);
      } else {
        // constraint validation is not triggered
        f.submit();
      }
    }
  </script>
  <button id="{{ id }}-submit"
      class="g-recaptcha" 
      {% for key, value in options %}{% if key != 'label' %}data-{{ key }}="{{ value }}" {% endif %}{% endfor %}
      data-callback="recaptchaBeforeSubmit"
      data-action="submit">{{ options.label }}</button>
{% else %}
  No label defined
{% endif %}
